<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 100vh;">
        <img src="../../assets/images/photo-1531048230592-9903bf40a199.avif" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption  d-md-block" style="right: 70%; bottom: 15rem; left: 0;">
          <h5>Aya Maher Mohamed</h5>
          <p>Student at information technology institution </p>
          <button style=" margin-top:50px; border:1px solid white; padding: 10px; border-radius: 5px; color: white; background-color: transparent;">Contact Me</button>
        </div>
      </div>
    </div>
  </div>